@define-color background #000000;
@define-color foreground #e0e0e0;
@define-color color0 #000000;
@define-color color1 #e19e74;
@define-color color2 #a5a297;
@define-color color3 #c6c4b0;
@define-color color4 #605d5b;
@define-color color5 #8a8575;
@define-color color6 #C2BBB0;
@define-color color7 #d0d0d0;
@define-color color8 #383735;
@define-color color9 #984b1e;
@define-color color10 #637380;
@define-color color11 #8f4445;
@define-color color12 #b7a798;
@define-color color13 #b3adad;
@define-color color14 #90947a;
@define-color color15 #ffffff;
