@define-color bg #222222;
@define-color fg #c2c2b0;
@define-color gray1 #5f875f;
@define-color gray2 #666666;
@define-color gray3 #78824b;
@define-color gray4 #b36d43;
@define-color gray5 #bb7744;
@define-color fg_bright #d7c483;
@define-color selection_bg #e4c47a;
@define-color selection_fg #000000;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @selection_bg;
    color: @selection_fg;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @selection_bg;
    color: @selection_fg;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}
