@define-color selected-text #bcb9b2;
@define-color text #605d5b;
@define-color base #121212;
@define-color border #a5a297;
@define-color foreground #605d5b;
@define-color background #121212;


@define-color hover #bcb9b2;
@define-color accent #a5a297;


window .search-container,
window .search {
  background: alpha(@hover, 0.1);
  color: @foreground;
  border: 1px solid alpha(@border, 0.5);
  border-radius: 12px;
  padding: 8px 12px;
  margin: 4px 0;
  font-size: 14px;
  font-weight: 500;
}

window .search-container text { 
    color: @selected-text;
    caret-color: @selected-text;
}
