/**
* @name Batou
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #121212;
    --color01: #e19e74;
    --color02: #a5a297;
    --color03: #c6c4b0;
    --color04: #605d5b;
    --color05: #8a8575;
    --color06: #C2BBB0;
    --color07: #a5a297;
    --color08: #383735;
    --color09: #984b1e;
    --color10: #e19e74;
    --color11: #8f4445;
    --color12: #b7a798;
    --color13: #b3adad;
    --color14: #90947a;
    --color15: #a4a4a4;


}

[class*="sidebar"]::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background: rgba(255,255,255,0.05);
  transform: scaleX(0.5);
  transform-origin: right;
  pointer-events: none;
}
